.highScore{
    display:inline;
}

.timer{
    display:inline;
    position:absolute;
    right:0;
    padding-right: 10px;
}

.quiz-container{
    margin:auto;
    width:60%;
    padding:10vh 10px 10px 10px;
    text-align: center;
}

.hide{
    display:none;
}
